.heading {
  font-size: 32px;
  font-weight: bold;
  color: #022959;
  margin-bottom: 10px;
}
.paragraph {
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 1.56;
  color: #9699aa;
  margin-bottom: 40px;
}

.serviceContainer {
  display: flex;
  gap: 24px;
  padding: 16px 24px 20px;
  border-radius: 8px;
  margin-bottom: 16px;
  cursor: pointer;
  align-items: center;
}

.serviceContainer:hover {
  border: 1px solid #483eff !important;
}
.service {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 6px;
}
.service h3 {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 500;
  color: #022959;
}

.service p {
  font-size: 14px;
  line-height: 1.43;
  color: #9699aa;
}
.service + p {
  font-size: 14px;
  line-height: 1.43;
  color: #483eff;
}
