.heading {
  font-size: 32px;
  font-weight: bold;
  color: #022959;
  margin-bottom: 11px;
}
.paragraph {
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 1.56;
  color: #9699aa;
  margin-bottom: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label {
  font-size: 14px;
  color: #022959;
}
.input {
  margin-bottom: 24px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: solid 1px #d6d9e6;
  background-color: #fff;
  padding-left: 16px;
}
input:focus {
  padding-left: 16px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button button {
  border: 0;
  outline: 0;
  padding: 14px 24px 16px 25px;
  border-radius: 8px;
  background-color: #022959;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-top: 40px;
  cursor: pointer;
}
